<div class="col-md-4">
  <div class="row">
    <%= link_to 'New Post', new_post_path, class: "btn btn-primary btn-lg btn-block" %>
  </div>
  <% if @categories.any? %>
    <div class="row">
      <h2>Categories</h2>
      <ul>
        <%= render @categories %>
      </ul>
    </div>
  <% end %>
</div>
